*.iml
*.ipr
*.iws
.idea/
.log
node_modules
dist
yarn-error.log
*.diff
values.yaml
cloudbuild.yaml
.vscode
config.properties
*.code-workspace
*.DS_Store
*.bkp
public
build
.lighthouseci
*.log
Makefile
custom
.webpack_cache
.jest-cache
.eslintcache
**/storybook-static
**/static
**/secret_manager_config/**
test-results
mms-web-webmobile-mreg**.json
.swc/
coverage
scripts/eco_crew/*.csv
tsconfig.base.tsbuildinfo
tsconfig.tsbuildinfo
